In [9]:
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd
import pyjsonviewer
from functools import reduce
import operator
import json
from pymongo import MongoClient
from pymongo import GEOSPHERE
import sys
sys.path.append('../')
import src.functions as func

### Choosing 3 cities to place my office:

#### A. Madrid:

In [29]:
madrid=func.geocode("Castellana 89, Paseo de la Castellana, Madrid") #Torre Picasso.

In [30]:
madrid

{'type': 'Point', 'coordinates': ['40.44980', '-3.69164']}

#### B. Málaga:

In [84]:
malaga=func.geocode("Calle Larios, Malaga")

In [85]:
malaga

{'type': 'Point', 'coordinates': ['36.72048', '-4.42166']}

#### C. Barcelona:

In [158]:
barcelona=func.geocode("Plaça de Catalunya, Barcelona")

In [159]:
barcelona

{'type': 'Point', 'coordinates': ['41.38781', '2.16920']}

### Prioritizing some requirements over othes:

- **Designers like to go to design talks and share knowledge. There must be some nearby companies that also do design.**
- 30% of the company staff have at least 1 child.
- Developers like to be near successful tech startups that have raised at least 1 Million dollars.
- **Executives like Starbucks A LOT. Ensure there's a starbucks not too far.**
- **Account managers need to travel a lot.**
- **Everyone in the company is between 25 and 40, give them some place to go party.**
- **The CEO is vegan.**
- If you want to make the maintenance guy happy, a basketball stadium must be around 10 Km.
- The office dog—"Dobby" needs a hairdresser every month. Ensure there's one not too far away.

### API Foursquare requests:

In [31]:
load_dotenv()

True

In [32]:
client_id = os.getenv("tok1")
client_secret = os.getenv("tok2")

In [33]:
url = "https://favqs.com/api/session"
url_query = 'https://api.foursquare.com/v2/venues/search'

#### A. Madrid-Empresas de diseño:

In [34]:
parametros = {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{madrid['coordinates'][0]}, {madrid['coordinates'][1]}",
    "query": "empresas de diseño"
}

In [35]:
dis_mad = requests.get(url_query, params = parametros).json()

In [36]:
#dis_mad

In [37]:
diseños_md = dis_mad["response"]["venues"]

In [38]:
#diseños_md

In [39]:
lista_diseñomad=func.extraetodo(diseños_md)

In [40]:
datos_diseñomadrid = pd.DataFrame(lista_diseñomad)

In [41]:
datos_diseñomadrid.head()

,nombre,latitud,longitud,location
0,"Esne (Escuela Universitaria de Diseño, Innovac...",40.457096,-3.667365,"{'type': 'Point', 'coordinates': [40.457095782..."
1,Schmidt Hernani - Cocinas De Diseño,40.448264,-3.697171,"{'type': 'Point', 'coordinates': [40.448264292..."
2,Centro De Empresas De Seguridad Alonso Cano 99,40.445357,-3.697281,"{'type': 'Point', 'coordinates': [40.445357283..."
3,Central de Diseño / DIMAD,40.392015,-3.696827,"{'type': 'Point', 'coordinates': [40.392015380..."
4,empresas de piscinas en madrid,40.414419,-3.703423,"{'type': 'Point', 'coordinates': [40.414419115..."

In [42]:
diseñoMadrid = datos_diseñomadrid.copy()

#### A. Madrid-Starbucks:

In [43]:
parametros_St = {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{madrid['coordinates'][0]}, {madrid['coordinates'][1]}",
    "query": "Starbucks"
}

In [44]:
St_mad = requests.get(url_query, params = parametros_St).json()

In [45]:
#St_mad

In [46]:
St_datamd = St_mad["response"]["venues"]

In [47]:
lista_starbucksmad=func.extraetodo(St_datamd)

In [48]:
datos_Starbucksmadrid=pd.DataFrame(lista_starbucksmad)

In [49]:
datos_Starbucksmadrid.head()

,nombre,latitud,longitud,location
0,Starbucks,40.447489,-3.693093,"{'type': 'Point', 'coordinates': [40.447488723..."
1,Starbucks,40.447729,-3.695175,"{'type': 'Point', 'coordinates': [40.447728697..."
2,Starbucks,40.455046,-3.693885,"{'type': 'Point', 'coordinates': [40.455046, -..."
3,Starbucks,40.432968,-3.683220,"{'type': 'Point', 'coordinates': [40.432967606..."
4,Starbucks,40.433564,-3.686829,"{'type': 'Point', 'coordinates': [40.433563917..."

In [50]:
StarbucksMadrid = datos_Starbucksmadrid.copy()

#### A. Madrid-Airports:

In [51]:
parametros_A = {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{madrid['coordinates'][0]}, {madrid['coordinates'][1]}",
    "query": "Airport"
}

In [52]:
airport_mad=requests.get(url_query, params=parametros_A).json()

In [53]:
#airport_mad

In [54]:
air_datamd = airport_mad["response"]["venues"]

In [55]:
lista_airportmad=func.extraetodo(air_datamd)

In [56]:
datos_airportmadrid=pd.DataFrame(lista_airportmad)

In [57]:
datos_airportmadrid.head()

,nombre,latitud,longitud,location
0,AIRPORT TAVERN,40.454018,-3.678821,"{'type': 'Point', 'coordinates': [40.454017958..."
1,Hotel NH Madrid Barajas Airport,40.451022,-3.594986,"{'type': 'Point', 'coordinates': [40.451022341..."
2,Tryp Madrid Airport Suites,40.445569,-3.543607,"{'type': 'Point', 'coordinates': [40.4455692, ..."
3,Saludando – Hilton Madrid Airport,40.452070,-3.585533,"{'type': 'Point', 'coordinates': [40.452070242..."
4,Aeropuerto Adolfo Suárez Madrid-Barajas (MAD) ...,40.490222,-3.569434,"{'type': 'Point', 'coordinates': [40.490222162..."

#### A. Madrid-Disco:

In [58]:
parametros_D = {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{madrid['coordinates'][0]}, {madrid['coordinates'][1]}",
    "query": "Disco"
}

In [59]:
disco_mad=requests.get(url_query,params=parametros_D).json()

In [60]:
disco_datamad=disco_mad["response"]["venues"]

In [61]:
lista_discomad=func.extraetodo(disco_datamad)

In [62]:
datos_discomadrid=pd.DataFrame(lista_discomad)

In [63]:
datos_discomadrid.head()

,nombre,latitud,longitud,location
0,Disco Rug & Play,40.451888,-3.696266,"{'type': 'Point', 'coordinates': [40.451888, -..."
1,Panamericana Disco,40.452806,-3.690264,"{'type': 'Point', 'coordinates': [40.452806048..."
2,Disco Express,40.434539,-3.710257,"{'type': 'Point', 'coordinates': [40.434538914..."
3,Disco Yedra Pub,40.434041,-3.714618,"{'type': 'Point', 'coordinates': [40.434040912..."
4,Destellos Pub Disco,40.437682,-3.709905,"{'type': 'Point', 'coordinates': [40.437681716..."

####  A. Madrid-Vegan:

In [64]:
parametros_V= {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{madrid['coordinates'][0]}, {madrid['coordinates'][1]}",
    "query": "Vegan"
}

In [65]:
vegan_mad=requests.get(url_query,params=parametros_V).json()

In [66]:
vegan_datamad=vegan_mad["response"]["venues"]

In [67]:
lista_veganmad=func.extraetodo(vegan_datamad)

In [68]:
datos_veganmadrid=pd.DataFrame(lista_veganmad)

In [69]:
datos_veganmadrid.head()

,nombre,latitud,longitud,location
0,Vegan Streets Madrid Castellana,40.442456,-3.679973,"{'type': 'Point', 'coordinates': [40.4424564, ..."
1,Vegan Streets Madrid Centro,40.417512,-3.697636,"{'type': 'Point', 'coordinates': [40.4175117, ..."
2,vegetarian / vegan restaurant,40.432974,-3.686693,"{'type': 'Point', 'coordinates': [40.432974, -..."
3,Mad Mad Vegan,40.424183,-3.700731,"{'type': 'Point', 'coordinates': [40.424183, -..."
4,Los Andenes Vegan,40.435206,-3.710348,"{'type': 'Point', 'coordinates': [40.435206, -..."

#### Suming up all requirements in a single list (Madrid).

In [148]:
MADRID=func.sum_requirements(lista_diseñomad, lista_starbucksmad, lista_airportmad, lista_discomad, lista_veganmad)

In [71]:
datos_MADRID=pd.DataFrame(MADRID)

In [149]:
datos_MADRID.sample()

,nombre,latitud,longitud,location
25,Empresas de Limpieza en Madrid,40.356127,-3.780756,"{'type': 'Point', 'coordinates': [40.356126771..."

#### B. Málaga-Empresas de diseño:

In [91]:
parametros_mlg = {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{malaga['coordinates'][0]}, {malaga['coordinates'][1]}",
    "query": "empresas de diseño"
}

In [95]:
dis_mlg=requests.get(url_query,params=parametros_mlg).json()

In [96]:
#mlg_dis

In [97]:
diseños_mlg = dis_mlg["response"]["venues"]

In [98]:
lista_diseñomlg=func.extraetodo(diseños_mlg)

#### B. Málaga-Aeropuerto:

In [116]:
parametros_mlg_air = {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{malaga['coordinates'][0]}, {malaga['coordinates'][1]}",
    "query": "airport"
}

In [117]:
air_mlg=requests.get(url_query,params=parametros_mlg_air).json()

In [118]:
airport_mlg = air_mlg["response"]["venues"]

In [119]:
lista_airportmlg=func.extraetodo(airport_mlg)

#### B. Málaga-Starbucks:

In [101]:
parametros_mlg_st = {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{malaga['coordinates'][0]}, {malaga['coordinates'][1]}",
    "query": "Starbucks"
}

In [102]:
st_mlg=requests.get(url_query,params=parametros_mlg_st).json()

In [103]:
Starbucks_mlg = st_mlg["response"]["venues"]

In [104]:
lista_Starbucks_mlg=func.extraetodo(Starbucks_mlg)

#### B. Málaga-Disco:

In [108]:
parametros_mlg_disco = {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{malaga['coordinates'][0]}, {malaga['coordinates'][1]}",
    "query": "disco"
}

In [109]:
disco_mlg=requests.get(url_query,params=parametros_mlg_disco).json()

In [110]:
disco_mlg = disco_mlg["response"]["venues"]

In [111]:
lista_disco_mlg=func.extraetodo(disco_mlg)

#### B. Málaga-Vegan:

In [161]:
parametros_mlg_vegan = {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{malaga['coordinates'][0]}, {malaga['coordinates'][1]}",
    "query": "Vegan"
}

In [143]:
vegan_mlg=requests.get(url_query,params=parametros_mlg_vegan).json()

In [144]:
vegan_mlg = vegan_mlg["response"]["venues"]

In [145]:
lista_vegan_mlg=func.extraetodo(vegan_mlg)

#### Suming up all requirements in a single list (Málaga).

In [150]:
MALAGA=func.sum_requirements(lista_diseñomlg, lista_Starbucks_mlg, lista_airportmlg, lista_disco_mlg, lista_vegan_mlg)

In [151]:
datos_MALAGA=pd.DataFrame(MALAGA)

In [152]:
datos_MALAGA.sample(8)

,nombre,latitud,longitud,location
79,Discover Andalucia,36.676850,-4.492726,"{'type': 'Point', 'coordinates': [36.67685, -4..."
6,Estudio De Diseño De Tartas Oh! Cakes,36.751000,-4.421110,"{'type': 'Point', 'coordinates': [36.751, -4.4..."
74,Disco Pub Sánchez,36.931267,-4.527955,"{'type': 'Point', 'coordinates': [36.931266623..."
82,Discoteca Voltaje,36.622727,-4.500139,"{'type': 'Point', 'coordinates': [36.622727, -..."
80,Disco Kiu,36.599033,-4.518025,"{'type': 'Point', 'coordinates': [36.599032971..."
39,Aeropuerto de Málaga - Costa del Sol (AGP) (Ae...,36.677056,-4.492091,"{'type': 'Point', 'coordinates': [36.677056143..."
49,Terminal 1,36.673634,-4.488698,"{'type': 'Point', 'coordinates': [36.673633767..."
109,Casa San Andreas Eco Vegan B&B,36.823563,-3.974678,"{'type': 'Point', 'coordinates': [36.823563, -..."

#### C. Barcelona-Design:

In [169]:
parametros_bcn_dis = {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{barcelona['coordinates'][0]}, {barcelona['coordinates'][1]}",
    "query": "Diseño"
}

In [170]:
dis_bcn=requests.get(url_query,params=parametros_bcn_dis).json()

diseño_bcn = dis_bcn["response"]["venues"]

lista_diseñobcn=func.extraetodo(diseño_bcn)

#### C. Barcelona-Airport:

In [174]:
parametros_bcn_air = {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{barcelona['coordinates'][0]}, {barcelona['coordinates'][1]}",
    "query": "Airport"
}

In [175]:
air_bcn=requests.get(url_query,params=parametros_bcn_air).json()

airport_bcn = air_bcn["response"]["venues"]

lista_airportbcn=func.extraetodo(airport_bcn)

#### C. Barcelona-Starbucks:

In [177]:
parametros_bcn_st = {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{barcelona['coordinates'][0]}, {barcelona['coordinates'][1]}",
    "query": "Starbucks"
}

In [178]:
st_bcn=requests.get(url_query,params=parametros_bcn_st).json()

starbucks_bcn = st_bcn["response"]["venues"]

lista_starbucksbcn=func.extraetodo(starbucks_bcn)

#### C. Barcelona-Disco:

In [181]:
parametros_bcn_disco = {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{barcelona['coordinates'][0]}, {barcelona['coordinates'][1]}",
    "query": "Disco"
}

In [182]:
disco_bcn=requests.get(url_query,params=parametros_bcn_disco).json()

discoteca_bcn = disco_bcn["response"]["venues"]

lista_discotecabcn=func.extraetodo(discoteca_bcn)

#### C. Barcelona-Vegan:

In [184]:
parametros_bcn_veg = {
    "client_id": client_id,
    "client_secret": client_secret,
    "v": "20180323",
    "ll": f"{barcelona['coordinates'][0]}, {barcelona['coordinates'][1]}",
    "query": "Vegan"
}

In [185]:
veg_bcn=requests.get(url_query,params=parametros_bcn_veg).json()

vegan_bcn = veg_bcn["response"]["venues"]

lista_veganbcn=func.extraetodo(vegan_bcn)

#### Suming up all requirements in a single list (Barcelona).

In [187]:
BARCELONA=func.sum_requirements(lista_diseñobcn, lista_airportbcn, lista_starbucksbcn, lista_discotecabcn, lista_veganbcn)

In [188]:
datos_BARCELONA=pd.DataFrame(BARCELONA)

In [189]:
datos_BARCELONA.sample(10)

,nombre,latitud,longitud,location
22,Dulce Diseño,41.448183,2.247869,"{'type': 'Point', 'coordinates': [41.448182950..."
30,Barcelona–El Prat Josep Tarradellas Airport (B...,41.295607,2.076223,"{'type': 'Point', 'coordinates': [41.295606993..."
103,Pisco Disco,41.372001,2.165844,"{'type': 'Point', 'coordinates': [41.372001, 2..."
75,Starbucks Diagonal 640,41.391069,2.136410,"{'type': 'Point', 'coordinates': [41.391069270..."
21,Cute and Cut - Peluquería y complementos de di...,41.453599,2.203271,"{'type': 'Point', 'coordinates': [41.453599369..."
26,Fundacion B.C.D. Para La Promocion Del Diseño ...,41.402451,2.188092,"{'type': 'Point', 'coordinates': [41.402451, 2..."
126,Monchito Vegan,41.380971,2.179880,"{'type': 'Point', 'coordinates': [41.380970639..."
9,Dulce Diseño,41.359226,2.129343,"{'type': 'Point', 'coordinates': [41.359225903..."
54,Sala VIP Joan Miró,41.290001,2.074209,"{'type': 'Point', 'coordinates': [41.290001452..."
91,Discos Paradiso,41.382223,2.165922,"{'type': 'Point', 'coordinates': [41.382223232..."

### Exporting data to Mongo DB Compass.

#### A. Madrid:

In [73]:
with open ("Madrid.json","w") as f: 
    json.dump(MADRID,f)

#### B. Málaga:

In [160]:
with open ("Malaga.json","w") as f: 
    json.dump(MALAGA,f)

#### C. Barcelona:

In [190]:
with open ("Barcelona.json","w") as f: 
    json.dump(BARCELONA,f)

### Geoqueries:

In [74]:
client = MongoClient("localhost:27017")
db = client.get_database("PROYECTO_3")  # Me conecto a la base de datos "PROYECTO_3"
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'PROYECTO_3')

In [75]:
Madrid = db.get_collection("MADRID") # Me conecto a la colección "MADRID".

In [76]:
db.Madrid.create_index([("location", GEOSPHERE)]) # Creo el index 2dsphere.

'location_2dsphere'

In [77]:
madrid # mi posición en Madrid: Torre Picasso.

{'type': 'Point', 'coordinates': ['40.44980', '-3.69164']}

In [78]:
metros= 200 # radio máximo de búsqueda que establezco respecto a mis coordenadas.

In [79]:
query = {"location": {"$near": {"$geometry": madrid, "$maxDistance": metros}}}

In [80]:
query

{'location': {'$near': {'$geometry': {'type': 'Point',
    'coordinates': ['40.44980', '-3.69164']},
   '$maxDistance': 200}}}

In [83]:
#ERROR!! list(Madrid.find(query))